In [8]:
!pip install tabula-py

Requirement already satisfied: tabula-py in /Users/mfhan/.pyenv/versions/3.10.11/lib/python3.10/site-packages (2.8.2)
Requirement already satisfied: pandas>=0.25.3 in /Users/mfhan/.pyenv/versions/3.10.11/lib/python3.10/site-packages (from tabula-py) (2.0.3)
Requirement already satisfied: numpy in /Users/mfhan/.pyenv/versions/3.10.11/lib/python3.10/site-packages (from tabula-py) (1.24.3)
Requirement already satisfied: distro in /Users/mfhan/.pyenv/versions/3.10.11/lib/python3.10/site-packages (from tabula-py) (1.8.0)
Requirement already satisfied: jpype1 in /Users/mfhan/.pyenv/versions/3.10.11/lib/python3.10/site-packages (from tabula-py) (1.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mfhan/.pyenv/versions/3.10.11/lib/python3.10/site-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/mfhan/.pyenv/versions/3.10.11/lib/python3.10/site-packages (from pandas>=0.25.3->tabula-py) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/mfhan/.pyenv/versions/3.10.11/lib/python3.10/site-packages (from pandas>=0.25.3->tabula-py) (2023.3)
Requirement already satisfied: packaging in /Users/mfhan/.pyenv/versions/3.10.11/lib/python3.10/site-packages (from jpype1->tabula-py) (23.1)
Requirement already satisfied: six>=1.5 in /Users/mfhan/.pyenv/versions/3.10.11/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->tabula-py) (1.16.0)
DEPRECATION: dexplot 0.1.4 has a non-standard dependency specifier scipy>=1.0matplotlib>=3.1. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of dexplot or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [9]:
!pip install tabula-py[java]

zsh:1: no matches found: tabula-py[java]

In [2]:
!java -version

java version "21" 2023-09-19 LTS
Java(TM) SE Runtime Environment (build 21+35-LTS-2513)
Java HotSpot(TM) 64-Bit Server VM (build 21+35-LTS-2513, mixed mode, sharing)

In [3]:
import tabula

In [4]:
pdf_path = "https://wtafiles.wtatennis.com/pdf/rankings/All_YTD_Prize_Money.pdf"

In [5]:
dfs = tabula.read_pdf(pdf_path, stream=True)
# read_pdf returns list of DataFrames
print(len(dfs))

'pages' argument isn't specified.Will extract only from page 1 by default.

1

In [6]:
tabula.environment_info()

Python version:
    3.10.11 (main, Jul 24 2023, 14:37:32) [Clang 15.0.0 (clang-1500.0.34.3)]
Java version:
    java version "21" 2023-09-19 LTS
Java(TM) SE Runtime Environment (build 21+35-LTS-2513)
Java HotSpot(TM) 64-Bit Server VM (build 21+35-LTS-2513, mixed mode, sharing)
tabula-py version: 2.8.2
platform: macOS-13.5-arm64-arm-64bit
uname:
    uname_result(system='Darwin', node='Marie-Frances-2021-MacBook-Pro.local', release='22.6.0', version='Darwin Kernel Version 22.6.0: Wed Jul  5 22:22:05 PDT 2023; root:xnu-8796.141.3~6/RELEASE_ARM64_T6000', machine='arm64')
linux_distribution: ('Darwin', '22.6.0', '')
mac_ver: ('13.5', ('', '', ''), 'arm64')

In [7]:
print(dfs[0])

    Standing                    Name  Nat    Singles  Doubles   Mixed  \
0          1        SABALENKA, ARYNA  NaN  7,362,685    6,950     NaN
1          2             GAUFF, COCO  USA  4,903,882  653,490     NaN
2          3            SWIATEK, IGA  POL  5,455,686      NaN     NaN
3          4         RYBAKINA, ELENA  KAZ  4,631,334   64,103     NaN
4          5    VONDROUSOVA, MARKETA  CZE  4,104,203  138,750     NaN
5          6         PEGULA, JESSICA  USA  3,471,367  653,490  52,054
6          7       MUCHOVA, KAROLINA  CZE  2,796,338    8,100     NaN
7          8             JABEUR, ONS  TUN  2,706,604   18,885     NaN
8          9          KVITOVA, PETRA  CZE  2,436,381      NaN     NaN
9         10           KEYS, MADISON  USA  2,339,898   16,560     NaN
10        11          SAKKARI, MARIA  GRE  2,205,621    5,274     NaN
11        12    HADDAD MAIA, BEATRIZ  BRA  1,659,666  332,156     NaN
12        13     KREJCIKOVA, BARBORA  CZE  1,444,599  529,494     NaN
13        14       OSTAPENKO, JELENA  LAT  1,602,108  197,006  22,424
14        15      AZARENKA, VICTORIA  NaN  1,435,758  279,509     NaN
15        16          MERTENS, ELISE  BEL  1,117,130  543,358     NaN
16        17          LINETTE, MAGDA  POL  1,438,007  195,746     NaN
17        18         BENCIC, BELINDA  SUI  1,551,101   50,827     NaN
18        19        GARCIA, CAROLINE  FRA  1,437,515   78,062     NaN
19        20         CIRSTEA, SORANA  ROU  1,459,955      NaN     NaN
20        21        SVITOLINA, ELINA  UKR  1,457,493      NaN     NaN
21        22  ALEXANDROVA, EKATERINA  NaN  1,269,365   99,951     NaN
22        23        KASATKINA, DARIA  NaN  1,333,062   33,305     NaN
23        24   KUDERMETOVA, VERONIKA  NaN  1,155,918  192,213     NaN
24        25     SAMSONOVA, LIUDMILA  NaN  1,138,793  175,543   7,750
25        26             WANG, XINYU  CHN    823,102  416,187     NaN
26        27            VEKIC, DONNA  CRO  1,179,564   59,337     NaN
27        28         BOUZKOVA, MARIE  CZE  1,000,852  200,947     NaN
28        29           ZHENG, QINWEN  CHN  1,151,037      NaN     NaN
29        30       TREVISAN, MARTINA  ITA  1,070,456   64,733     NaN
30        31      PLISKOVA, KAROLINA  CZE  1,013,744   47,885     NaN
31        32     POTAPOVA, ANASTASIA  NaN    987,033   73,734     NaN
32        33          PERA, BERNARDA  USA    891,525  156,921   7,750
33        34     SINIAKOVA, KATERINA  CZE    487,186  550,245     NaN
34        35      KALININA, ANHELINA  UKR    945,293   89,186     NaN
35        36        TOWNSEND, TAYLOR  USA    544,683  429,223  56,424
36        37       FERNANDEZ, LEYLAH  CAN    684,958  334,280   7,750
37        38          KOSTYUK, MARTA  UKR    746,753  231,216  34,000
38        39           HUNTER, STORM  AUS    397,601  566,933  18,554
39        40           MARTIC, PETRA  CRO    951,876   21,260     NaN
40        41         TSURENKO, LESIA  UKR    879,197      NaN     NaN
41        42           HSIEH, SU-WEI  TPE     52,370  805,364  17,100
42        43       COLLINS, DANIELLE  USA    751,601  104,828     NaN
43        44                ZHU, LIN  CHN    765,051   77,436     NaN
44        45     BEGU, IRINA-CAMELIA  ROU    753,906   81,501     NaN
45        46            KENIN, SOFIA  USA    766,167   48,652     NaN

        Total
0   7,369,635
1   5,557,372
2   5,455,686
3   4,695,437
4   4,242,953
5   4,176,912
6   2,804,438
7   2,725,489
8   2,436,381
9   2,356,458
10  2,210,895
11  1,991,822
12  1,974,093
13  1,821,538
14  1,715,267
15  1,660,488
16  1,633,753
17  1,601,928
18  1,515,577
19  1,459,955
20  1,457,493
21  1,369,316
22  1,366,367
23  1,348,131
24  1,322,086
25  1,239,289
26  1,238,901
27  1,201,799
28  1,151,037
29  1,135,189
30  1,061,629
31  1,060,767
32  1,056,196
33  1,037,431
34  1,034,479
35  1,030,330
36  1,026,988
37  1,011,969
38    983,088
39    973,136
40    879,197
41    874,834
42    856,429
43    842,487
44    835,407
45    814,819